.blogs {
  .box-container {
    @include grid(30rem);

    .box {
      text-align: center;
      padding: 2rem;
      border: $border;

      &:hover {
        background: #444;
        border-radius: 1rem;
        border-color: $green;

        img {
          transform: translateY(-2rem) scale(1.1);
        }

        .title {
          color: $white;
          font-weight: bolder;
        }

        .icons {
          border-color: $green;

          a {
            color: $white;

            &:hover {
              font-weight: bolder;
            }
          }
        }
      }

      img {
        height: 20rem;
      }

      .title {
        display: block;
        margin-bottom: 1rem;
        font-size: 2rem;
        color: $black;

        &:hover {
          text-decoration: underline;
        }
      }

      .blog-p {
        padding: 1rem 0;
        font-size: 1.4rem;
        color: $light-color;
        line-height: 2;
      }

      .icons {
        padding-top: 1.7rem;
        margin-top: 1.5rem;
        border-top: $border;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          font-size: 1.4rem;
          color: $light-color;

          i {
            padding-right: 0.5rem;
            color: $green;
          }
        }

        a {
          font-size: 1.4rem;
          color: $black;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
