.pricing {
  .box-container {
    @include grid(30rem);

    .box {
      text-align: center;
      padding: 2rem;
      border: $border;
      background: $white;

      &:hover {
        background: #444;
        border-color: $green;
        border-radius: 1rem;

        h3 {
          color: $green;
        }

        img {
          transform: scale(1.2);
        }

        .amount {
          color: $white;

          span {
            color: $green;
          }
        }

        .btn {
          background: $white;
          color: $black;

          &:hover {
            background: $green;
          }
        }
      }

      h3 {
        font-size: 2rem;
        color: $black;
      }

      img {
        height: 20rem;
      }

      .amount {
        font-size: 5rem;
        color: $black;
        margin-bottom: 0;

        span {
          font-size: 2.5rem;
        }
      }

      .list {
        padding: 1.5rem;
        text-align: left;

        p {
          padding: 1rem 0;
          font-size: 1.5rem;
          color: $light-color;

          i {
            color: $green;
            padding-right: 0.5rem;

            &.fa-times {
              color: red;
            }
          }
        }
      }
    }
  }
}
